@media (max-width: 430px) and (hover:none) {

    .container {
        max-width: 430px;
    }

    .header {
        position: static;
        background-color: #010405;
    }

    .header__logo svg {
        width: 127px;
        height: 86px;
    }

    .header__btn {
        display: none;
    }

    .header__burger-btn {
        display: block;

    }

    .header__burger-btn::before {
        content: "";
        position: absolute;
        height: 50px;
        width: 50px;
        background-image: url(../images/Header-Menu-mob.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 15px;
        right: 19px;
        background-color: black;
    }

    .header__burger:checked+.header__burger-btn::after {
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        background-image: url(../images/Header-close-mob.svg);
        background-color: rgba(14, 35, 40, 0.4);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 15px;
        right: 19px;
        z-index: 11;
    }

    .header__nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
        width: 100%;
        height: 416px;
        right: 0;
        top: 0;
        padding: 93px 143px;
        background: rgba(14, 35, 40, 0.4);
        backdrop-filter: blur(7.5px);
        z-index: 5;
    }

    .header__link:not(:last-child):before {
        display: none;
    }

    #header__toggle:checked~.header__nav {
        visibility: visible;
    }

    .header__link {
        font-size: 16px;
        margin-bottom: 10px;
        border-bottom: 1px solid #D1FF5D;
        background: rgba(255, 255, 255, 0.01);
        width: 144px;
        text-align: center;
        margin: 0 auto 20px;
    }

    /* HERO */

    .hero {
        background-color: #010405;
        background-image: none;
        height: auto;
    }

    .hero__wrapper {
        padding: 69px 0 58px;
    }

    .hero__title {
        font-size: 72px;
        line-height: 87px;
    }

    .hero__line {
        max-width: 170px;
    }

    .hero__subtitle {
        font-size: 18px;
        line-height: 25px;
        margin: 41px auto 57px;
    }

    .hero__advantages {
        max-width: 287px;
        display: flex;
        flex-direction: column;
    }

    .hero__advantage {
        width: 70%;
        height: 130px;
        margin: 0 auto 30px;
        padding: 13px 0 7px;
    }

    .hero__img {
        width: 86px;
        height: 70px;
    }

    .hero__desc {
        font-size: 20px;
        line-height: 30px;
    }

    .hero__btn-mob {
        max-width: 360px;
        padding: 10px 115px;
        display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        border: 3px solid #D1FF5D;
        border-radius: 3px;
        color: #ffffff;
        margin: 44px auto;
    }

    /* ABOUT */

    .about {
        padding-top: 52px;
        overflow: visible;
    }

    .about__wrapper {
        display: block;
    }

    .about__wrapper::before {
        font-size: 114px;
        line-height: 117px;
        max-width: 499px;
        left: -58px;
        top: -55px;
    }

    .about__content {
        width: 100%;
    }

    .about__title {
        font-size: 70px;
        line-height: 60px;
        margin-bottom: 35px;
        max-width: 268px;
    }

    .about__desc {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    .about__line {
        display: none;
    }

    .about__img {
        width: 100%;
        margin-top: 13px;
        grid-template-rows: repeat(3, auto);
    }

    .about__img::before {
        width: 381px;
        height: 250px;
        filter: blur(95px);
        transform: rotate(12deg);
        top: 50px;
        left: 0;
    }

    .about__img-lower {
        max-width: 323px;
        padding: 9px;
    }

    .about__img-upper {
        max-width: 357px;
        padding: 9px;
    }

    /* PROCESS */

    .process {
        padding-top: 150px;
        overflow-x: hidden;
    }

    .process__wrapper {
        width: 100%;
        padding-bottom: 55px;
        padding-top: 0;
        display: block;
        position: relative;
    }

    .process__wrapper::before {
        content: url(/images/Process-abstract-mob.png);
        top: -120px;
        left: -10px;
        position: absolute;
    }

    .process__wrapper::after {
        max-width: 180px;
        height: 100px;
        left: -35px;
        top: 50px;
        background: rgba(85, 201, 13, 0.3);
        filter: blur(45px);
        transform: rotate(12deg)
    }

    .process__question {
        width: 348px;
        font-size: 40px;
        line-height: 50px;
        margin: 0 0;
    }

    .process__question::before {
        width: 416px;
        height: 205px;
        top: -28px;
        left: -30px;
        backdrop-filter: blur(10px);
    }

    .process__desc {
        max-width: 100%;
    }

    .process__graphic {
        max-width: 62px;
    }

    .process__point {
        max-width: 62px;
        grid-template-rows: 4px 54px 4px;
    }

    .process__point-bright {
        width: 49px;
        height: 49px;
    }

    .process__point-bright p {
        font-size: 26px;
        line-height: 31px;
        padding: 8px 18px;
    }

    .process__point-dark {
        width: 49px;
        height: 49px;
    }

    .process__arrow:not(:last-child) {
        padding: 5px 0;
    }

    .process__arrow-mob {
        display: block;
    }

    .process__content {
        margin-left: 14px;
    }

    .process__subtitle {
        font-size: 24px;
        line-height: 17px;
    }

    .process__text {
        font-size: 16px;
        line-height: 23px;
    }

    /* WHY */

    .why__title {
        font-size: 70px;
        line-height: 63px;
        margin-bottom: 63px;
        padding-top: 72px;
    }

    .why__wrapper {
        padding-bottom: 82px;
    }

    .why__wrapper::before {
        font-size: 96px;
        line-height: 85px;
        top: -185px;
        left: -78px;
    }

    .why__cards {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .why__card {
        max-width: 100%;
        grid-template-rows: 103px 324px 46px;
    }

    .why__card:not(:last-child) {
        margin-bottom: 42px;
    }

    .why__card-up {
        max-width: 370px;
        height: 450px;
        padding: 24px 25px 24px 48px;
    }

    .why__subtitle {
        margin-top: 10px;
        font-size: 24px;
        line-height: 26px;
    }

    .why__text {
        margin: 20px 0 30px;
        font-size: 18px;
        line-height: 25px;
    }

    .why__btn {
        padding: 10px 78px;
    }

    .why__card-dwn {
        max-width: 370px;
        height: 370px;
    }

    /* COUNTRIES */

    .countries__title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 3px;
        padding-top: 36px;
    }

    .countries__title::before {
        display: none;
    }

    .countries__wrapper::before {
        font-size: 69px;
        line-height: 82px;
        top: -150px;
        left: -5px;
        max-width: 390px;
    }

    .countries__img {
        width: 100%;
        margin: 51px auto 121px;
    }

    .countries__tag {
        height: 200px;
    }

    .countries__tag-Americas {
        top: 45px;
        left: -38px;
    }

    .countries__lists {
        display: none;
    }

    .countries__tag-Europe {
        top: 13px;
        left: 116px;
    }

    .countries__tag-Asia {
        top: 50px;
        right: -25px;
    }

    .countries__tag-Africa {
        top: 82px;
        left: 50px;
    }

    /* PARTNERS */

    .partners {
        padding: 68px 0 82px;
    }

    .partners__abstract-left {
        width: 333px;
        bottom: -230px;
        left: -22px;
    }

    .partners__abstract-rigth {
        width: 373px;
        top: -200px;
        right: -130px;
    }

    .partners__wrapper {
        width: 100%;
        padding: 32px 27px 28px;
        border: 2.25px solid rgba(255, 255, 255, 0.315);
        border-radius: 10px;
    }

    .partners__title {
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }

    .partners__line {
        display: none;
    }

    .partners__logos {
        margin-top: 28px;
    }

    .partners__logo {
        height: 84px;
    }

    .partners__wrapper::before,
    .partners__wrapper::after {
        display: none;
    }

    /* FOOTER */

    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        padding: 54px 0 57px;
    }

    .footer__menu {
        display: grid;
        grid-template-columns: 45% 55%;
        column-gap: 45px;
        align-items: center;
        margin-bottom: 54px;
    }

    .footer__title {
        font-size: 50px;
        line-height: 61px;
    }

    .footer__line {
        max-width: 300px;
    }

    .footer__contacts {
        grid-template-columns: 1fr;
    }

    .footer__logo {
        margin-top: 0;
        margin-left: -15px;
    }

    .footer__list {
        margin-top: 0;
        max-width: 170px;
    }

    .footer__logo svg {
        width: 208px;
        height: 130px;
    }

    .footer__social {
        margin-top: 42px;
    }

    .footer__icons {
        display: flex;
        margin: 27px 27px 27px 0;
    }

}