* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1454px;
    margin: 0 auto;
    padding: 0 15px;
}


/* HEADER */

.header {
    background: rgba(13, 34, 40, 0.3);
    mix-blend-mode: normal;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    margin-right: 40px;
    position: relative;
}

.header__link:hover {
    color: #D1FF5D;
}

.header__link:not(:last-child):before {
    content: "";
    position: absolute;
    width: 1px;
    height: 25px;
    background-color: #D1FF5D;
    right: -24px;
    bottom: 0;
}

.header__btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 40px;
    border: 3px solid #D1FF5D;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
}

.header__btn:hover {
    background-color: #D1FF5D;
    color: #000000;
}


/* HERO */

.hero {
    background-image: url(/images/Main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 4;
}

.hero__wrapper {
    padding: 206px 0 171px;
}

.hero__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 206px;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #D1FF5D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero__subtitle {
    max-width: 782px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 41px auto 85px;
    position: relative;
}

.hero__line {
    max-width: 400px;
    margin: 0 auto;
    border-top: 1px solid #D1FF5D;
    border-bottom: transparent;
}

.hero__advantages {
    max-width: 754px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hero__advantage {
    width: 30%;
    height: 142px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.38304px);
    border-radius: 6.53px;
    padding: 10px 0 8px;
}

.hero__img {
    width: 110px;
    height: 85px;
    margin: 0 auto;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
}


/* ABOUT */

.about {
    background-color: #0D2228;
    padding-top: 103px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__content {
    width: 52%;
}

.about__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 118px;
    text-transform: uppercase;
    color: #D1FF5D;
    max-width: 496px;
    margin-bottom: 63px;
    position: relative;
    z-index: 2;
}

.about__title::before {
    content: 'about us';
    position: absolute;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 223px;
    line-height: 229px;
    max-width: 967px;
    top: -175px;
    right: -93px;
    z-index: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #AFFC41;
    color: #0D2228;
}

.about__desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}

.about__line {
    max-width: 743px;
    margin: 20px 0;
    height: 2px;
    color: #ffffff;
    opacity: 40%;
}

.about__img {
    width: 40%;
    display: grid;
    grid-template-columns: 16% 76% 8%;
    grid-template-rows: 193px 136px 215px;
    margin-top: 98px;
}

.about__img-lower {
    max-width: 481px;
    padding: 14px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.17);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    z-index: 2;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    box-shadow: -30px 91px 166px 111px rgba(85, 201, 13, 0.15);
    -webkit-box-shadow: -30px 91px 166px 111px rgba(85, 201, 13, 0.15);
    -moz-box-shadow: -30px 91px 166px 111px rgba(85, 201, 13, 0.15);
}

.about__img-lower img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__img-upper {
    max-width: 531px;
    padding: 14px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.17);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    z-index: 3;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.about__img-upper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* PROCESS */

.process__wrapper {
    max-width: 1536px;
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.process__wrapper::before {
    content: 'What is the staffing agency process?';
    position: absolute;
    max-width: 611px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    padding: 31px 29px 31px 173px;
    top: 241px;
}

.process__wrapper::after {
    content: "";
    position: absolute;
    width: 610px;
    height: 414px;
    background: rgba(85, 201, 13, 0.1);
    filter: blur(156px);
    transform: rotate(116deg);
    top: 70px;
    left: 0;
}

.process__img {
    max-width: 44%;
    height: 641px;
}

.process__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.process__desc {
    max-width: 56%;
    margin-top: 74px;
}

.process__steps {
    display: flex;
}

.process__graphic {
    max-width: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process__point {
    max-width: 88px;
    display: grid;
    grid-template-columns: 21.5% 57% 21.5%;
    grid-template-rows: 5px 64px 5px;
}

.process__point-bright {
    width: 69px;
    height: 69px;
    background: linear-gradient(180deg, #D1FF5D 0%, #49FFF4 100%);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 5;
}

.process__point-bright p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #05664F;
    text-align: center;
    padding: 13px 25px;
}

.process__point-dark {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(209, 255, 93, 0.25) 0%, rgba(73, 255, 244, 0.11) 100%);
    backdrop-filter: blur(3px);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 3;
}

.process__arrow {
    padding: 10px 0;
}

.process__content {
    margin-left: 34px;
}

.process__subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 15px;
}

.process__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}