* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
}

li {
    list-style: none;
    ;
}

.container {
    max-width: 1454px;
    margin: 0 auto;
    padding: 0 15px;
}


/* HEADER */

.header {
    background: rgba(13, 34, 40, 0.3);
    mix-blend-mode: normal;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    margin-right: 40px;
    position: relative;
}

.header__link:hover {
    color: #D1FF5D;
}

.header__link:not(:last-child):before {
    content: "";
    position: absolute;
    width: 1px;
    height: 25px;
    background-color: #D1FF5D;
    right: -24px;
    bottom: 0;
}

.header__btn {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 40px;
    border: 3px solid #D1FF5D;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
}

.header__btn:hover {
    background-color: #D1FF5D;
    color: #000000;
}


/* HERO */

.hero {
    background-image: url(/images/Main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 4;
}

.hero__wrapper {
    padding: 206px 0 171px;
}

.hero__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 206px;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #D1FF5D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero__subtitle {
    max-width: 782px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 41px auto 85px;
    position: relative;
}

.hero__line {
    max-width: 400px;
    margin: 0 auto;
    border-top: 1px solid #D1FF5D;
    border-bottom: transparent;
}

.hero__advantages {
    max-width: 754px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hero__advantage {
    width: 30%;
    height: 142px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.38304px);
    border-radius: 6.53px;
    padding: 10px 0 8px;
}

.hero__img {
    width: 110px;
    height: 85px;
    margin: 0 auto;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
}


/* ABOUT */

.about {
    background-color: #0D2228;
    padding-top: 103px;
    overflow: auto;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about__wrapper::before {
    content: 'about us';
    position: absolute;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 223px;
    line-height: 229px;
    max-width: 967px;
    left: -215px;
    top: -475px;
    -webkit-text-stroke: 1px;
    mix-blend-mode: screen;
    background: linear-gradient(to bottom, #ADADAD 2%, #163B45 50%, #0D2228 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.about__content {
    width: 52%;
}

.about__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 118px;
    text-transform: uppercase;
    color: #D1FF5D;
    max-width: 496px;
    margin-bottom: 63px;
}

.about__desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}

.about__line {
    max-width: 743px;
    margin: 20px 0;
    height: 2px;
    color: #ffffff;
    opacity: 40%;
}

.about__img {
    width: 40%;
    display: grid;
    grid-template-columns: 16% 76% 8%;
    grid-template-rows: 193px 136px 215px;
    margin-top: 98px;
}

.about__img-lower {
    max-width: 481px;
    padding: 14px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.17);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    z-index: 2;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    box-shadow: -30px 91px 166px 111px rgba(85, 201, 13, 0.15);
    -webkit-box-shadow: -30px 91px 166px 111px rgba(85, 201, 13, 0.15);
    -moz-box-shadow: -30px 91px 166px 111px rgba(85, 201, 13, 0.15);
}

.about__img-lower img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__img-upper {
    max-width: 531px;
    padding: 14px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.17);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    z-index: 3;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.about__img-upper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* PROCESS */

.process {
    background-color: #0D2228;
}

.process__wrapper {
    max-width: 1536px;
    padding: 81px 0 130px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.process__wrapper::before {
    content: url(/images/Process-abstract.png);
    position: absolute;
    top: 75px;
    left: -190px;
}

.process__wrapper::after {
    content: "";
    position: absolute;
    width: 610px;
    height: 414px;
    background: rgba(85, 201, 13, 0.1);
    filter: blur(156px);
    transform: rotate(116deg);
    top: 185px;
    left: -190px;
}

.process__question {
    max-width: 30%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    position: relative;
    margin: auto 0;
}

.process__question::before {
    content: '';
    position: absolute;
    width: 611px;
    height: 242px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    padding: 31px 29px 31px 173px;
    top: -28px;
    left: -190px;
}

.process__desc {
    max-width: 63%;
    margin-top: 74px;
}

.process__steps {
    display: flex;
}

.process__graphic {
    max-width: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process__point {
    max-width: 88px;
    display: grid;
    grid-template-columns: 21.5% 57% 21.5%;
    grid-template-rows: 5px 64px 5px;
}

.process__point-bright {
    width: 69px;
    height: 69px;
    background: linear-gradient(180deg, #D1FF5D 0%, #49FFF4 100%);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 5;
}

.process__point-bright p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #05664F;
    text-align: center;
    padding: 13px 25px;
}

.process__point-dark {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(209, 255, 93, 0.25) 0%, rgba(73, 255, 244, 0.11) 100%);
    backdrop-filter: blur(3px);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 3;
}

.process__arrow {
    padding: 10px 0;
}

.process__content {
    margin-left: 34px;
}

.process__subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 15px;
}

.process__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}


/* WHY */

.why {
    background-color: #07161B;
    overflow: auto;
}

.why__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 118px;
    text-transform: uppercase;
    color: #D1FF5D;
    margin-bottom: 63px;
    padding-top: 101px;
}

.why__wrapper {
    padding-bottom: 178px;
    position: relative;
}

.why__wrapper::before {
    content: 'why us?';
    position: absolute;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 160px;
    top: -346px;
    left: -210px;
    -webkit-text-stroke: 1px;
    mix-blend-mode: screen;
    background: rgba(255, 255, 255, 0.2);
    -webkit-background-clip: text;
    background-clip: text;
}

.why__cards {
    max-width: 1424px;
    margin-top: 127px;
    display: flex;
    justify-content: space-between;
}

.why__card {
    max-width: 31%;
    display: grid;
    grid-template-columns: 6% 89.3% 4.7%;
    grid-template-rows: 101px 404px 26px;
}

.why__card-up {
    max-width: 419px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 26px 25px 45px 48px;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    z-index: 3;
}

.why__img {
    max-width: 128px;
}

.why__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why__subtitle {
    margin-top: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.why__text {
    margin: 23px 0 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.why__btn {
    display: block;
    padding: 10px 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border: 3px solid #D1FF5D;
    border-radius: 3px;
    cursor: pointer;
}

.why__btn:hover {
    background-color: #D1FF5D;
    color: #000000;
}

.why__card-dwn {
    max-width: 427px;
    height: 430px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    z-index: 2;
}


/* COUNTRIES */

.countries {
    background: linear-gradient(180deg, #FFFFFF 0%, #DFFFF7 100%);
    overflow: auto;
}

.countries__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 118px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #05664F;
    padding-top: 64px;
}

.countries__wrapper {
    position: relative;
}

.countries__wrapper::before {
    content: 'countries';
    position: absolute;
    width: 967px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 137px;
    line-height: 162px;
    right: 43.34%;
    top: -7.07%;
    -webkit-text-stroke: 1px;
    mix-blend-mode: screen;
    background: rgba(32, 51, 56, 0.16);
    -webkit-background-clip: text;
    background-clip: text;
}

.countries__img {
    max-width: 1194px;
    margin: 0 auto;
    position: relative;
}

.countries__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.countries__tag {
    height: 288px;
    position: absolute;
}

.countries__tag img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.countries__tag-Americas {
    top: 187px;
    left: 133px;
}

.countries__tag-Europe {
    top: 90px;
    left: 570px;
}

.countries__tag-Asia {
    top: 210px;
    right: 178px;
}

.countries__tag-Africa {
    top: 240px;
    left: 547px;
}

.countries__lists {
    width: 711px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    background: #FFFFFF;
    box-shadow: 0px 20px 30px -16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 32px 72px;
    position: absolute;
    right: 56.25%;
    top: 37.2%;
    gap: 55px;
}

.countries__list li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #05664F;
}

.countries__list li:not(:last-child) {
    margin-bottom: 10px;
}


/* PARTNERS */